<div class="form-wrapper">
  <h3>Вход</h3>
  <form #f="ngForm" class="auth-form">
    <mat-form-field class="form-group">
      <label for="email">Email:</label>
      <input ngModel matInput name="email" type="text">
    </mat-form-field>
    <mat-form-field class="form-group">
      <label for="password">Пароль:</label>
      <input ngModel matInput name="password" type="password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="logIn(f)">Войти</button>
  </form>
  <p class="center"><a routerLink="/sign-up" class="app-link">Я хочу зарегистрировать новый аккаунт.</a></p>
</div>

