#help-inner-container {
    width: 100%;
    background-color: white;
    color: #494949;
    min-height: 750px;
}

h1 {
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin: 15px 15px 30px;
    color: #ff5722;
}
.content-container {
    display: flex;
    width: 90%;
    margin: auto;
}
.index-container {
    width: 27%;
    margin-top: 10px;
    margin-right: 5%;
}
.current-page-container {
    width: 75%;
}