.intro {
    margin: 50px auto;
    font-size: 1.15em;
}
h3 {
    font-size: 1.3em;
}
li {
    margin: 4px auto;
    font-size: 1.1em;
    color: #3c78ea;
    cursor: pointer;
}
li:hover {
    color: #2960ca;
    text-decoration: underline;
}