h2 {
    margin-top: 5px;
    margin-bottom: 30px;
    color: #FF4716;
}

#mb-mode-switcher {
    font-size: 16px;
}
#mb-mode-switcher mat-icon i{
    font-size: 39px;
}

.switcher-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px dashed transparent;
    padding: 7px 3px;
}

.switcher-row-title {
    width: 80%;
    color: #343434;
   font-weight: 600;
}
.switcher-row {
    opacity: 0.7;
}
.switcher-row.available {
    opacity: 1;
}
.switcher-row:hover {
    cursor: pointer;
}
.switcher-row.available:hover {
    border-color: #343434;
    transition: border-color 0.5s;
}
.switcher-row.available:active {
    transition: transform 1s;
    transform: translateX(8px);
}
.switcher-current {
    position: relative;
    top: 8px;
}