<div class="container">
  <h1 class="mh">Welcome to</h1>
  <div id="jumbotron"></div>
  <div id="startup-body" *ngIf="userLoggedIn === true">
    <p class="action-prompt">Do you want to continue working using your last logged account?</p>
    <button routerLink="/{{user.name}}" class="btn-pill">Yes, continue as <strong><em>{{user.name}}.</em></strong></button>
    <button (click)="changeUser()" class="btn-pill">No, I want to login as different user.</button>
  </div>
  <div id="startup-body" *ngIf="userLoggedIn === false">
    <p class="action-prompt">To start working please login existing account or register a new one</p>
    <button routerLink="/sign-in" class="btn-pill">I want to login an existing account.</button>
    <button routerLink="/sign-up" class="btn-pill">I'll register a new one.</button>
  </div>
</div>