* {
    text-align: center;
}

.container {
    position: relative;
    top: -10px;
    padding-top: 20px;
    min-height: 100vh;
}

body {
    margin: 0px;
}

.mh {
    font: bold 3.5em Lato;
    position: relative;
    left: -3px;
    margin-top: 0px;
    margin-bottom: 0px;
    color:  #FF4716;
}

#jumbotron {
    position: relative;
    top: -20px;
    width: 500px;
    height: 375px;
    background: no-repeat center url("./../../assets/Companion_wordmark_500px.jpg");
    margin: auto;
}

.action-prompt {    
    font: italic 1.2em 'Fira sans';
    color: #c7c7c7;
    margin-bottom: 25px;
    margin-top: -10px;
}

.btn-pill {
    display: block;
    margin: 40px auto;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 18px;
    padding: 10px 10px;
    color: #505050;
}
.btn-pill:hover {
    background-color: #283593;
    color: white;
    cursor: pointer;
    transition: padding 0.2s ease-out; 
    padding: 10px 20px; 
}