<div class="container">
  <h1 class="mh">Добро пожаловать в</h1>
  <div id="jumbotron"></div>
  <div id="startup-body" *ngIf="userLoggedIn === true">
    <p class="action-prompt">Хотите войти, используя последний авторизованный аккаунт?</p>
    <button routerLink="/{{user.name}}" class="btn-pill">Да, я продолжу как <strong><em>{{user.name}}.</em></strong></button>
    <button (click)="changeUser()" class="btn-pill">Нет, я зайду под другим пользователем.</button>
  </div>
  <div id="startup-body" *ngIf="userLoggedIn === false">
    <p class="action-prompt">Для начала работы пожалуйста войдите в существующий аккаунт или зарегистрируйте новый.</p>
    <button routerLink="/sign-in" class="btn-pill">Я хочу войти в существующий аккаунт.</button>
    <button routerLink="/sign-up" class="btn-pill">Я зарегистрирую новый.</button>
  </div>
</div>