<h3 class="modal-header">Добавить элемент</h3>
<button matTooltip="Отмена" (click)="dismissDialog()" class="modal-dismiss-btn"><mat-icon aria-hidden="true"><i class="material-icons">clear</i></mat-icon></button>
<form #f="ngForm">
    <mat-form-field class="form-group">
        <input matInput required ngModel name="itemName" type="text" placeholder="Введите описание" #name>
        <mat-error>Обязательное поле.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-group half-screen"> 
        <input matInput required ngModel class="datepicker-input" name="date" type="text" [matDatepicker]="picker" placeholder="Выберите дату" #date>
        <mat-datepicker-toggle  matTooltip="Открыть календарь" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Обязательное поле.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-group half-screen">
        <input matInput required ngModel type="number" name="itemAmount" type="text" placeholder="Введите cумму" #amount>
        <mat-error>Обязательное поле.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-group half-screen">
        <mat-select placeholder="Добавить маркер" [(value)]="itemMarker">
        <mat-option *ngFor="let marker of markers" [value]="marker.color">
            <span class="marker-label">{{ marker.name }}</span><div [style.background-color]="marker.hex" class="marker-preview"></div>
        </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button [disabled]="!f.valid" (click)="createItem(name, amount, date)" color="primary">Подтвердить</button>
</form>