<h3 class="modal-header">Добавить элемент</h3>
<button (click)="dismissDialog()" class="modal-dismiss-btn"><mat-icon aria-hidden="true"><i class="material-icons">clear</i></mat-icon></button>
<mat-form-field class="form-group">
    <input matInput ngModel name="itemName" type="text" placeholder="Введите описание" #name>
</mat-form-field>
<mat-form-field class="form-group"> 
    <input matInput ngModel class="datepicker-input" name="date" type="text" [matDatepicker]="picker" placeholder="Выберите дату" #date>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field class="form-group">
    <input matInput ngModel name="itemAmount" type="text" placeholder="Введите cумму" #amount>
</mat-form-field>
<button mat-raised-button (click)="createItem(name, amount, date)" color="primary">Подтвердить</button>