.modal-header {
    color: #f96536;
    font-family: 'Fira Sans';
}
#label-wrapper {
    width: 570px;
    margin: 20px 20px 30px 20px;
    color: #2a2a2a;
    font-size: 18px;
}
#attachment-input {
    color: #2a2a2a;
    font-family: 'Fira Sans';
    width: calc(100% - 40px);
    border: 1px solid #d3d3d3;
    padding: 20px;
    margin-top: 0;
    font-size: 18px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 3px 5px 5px 4px #ccc;
    cursor: pointer;
}
#attachment-input:focus {
    outline: none;
}
button { 
    float: right;
    font-family: 'Fira Sans';
    font-size: 15px;
    background-color: #E91E63;
}
.mat-raised-button {
    margin-top: 60px;
}
mat-form-field~button:hover {
    background-color: #8d1543;
}