.heading {
    border-bottom: 1px solid #cccccc94;
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}
.heading button {
    left: 0;
    top: 28px;
    position: absolute;
}
.heading h2 {
    display: inline-block;
    font-family: Cuprum;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
}
.glyphicon {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-right: 20px;
    padding-top: 3px;
}
.glyphicon .material-icons {
    font-size: 29px;
    opacity: 0.5;
}
.glyphicon .material-icons:hover {
    transition: transform 0.3s ease-in-out;
    transform: rotate(45deg);
    opacity: 1;
}
.glyphicon:focus, .account-btn:focus {
    outline: none;
}
#add-attachment-btn {
    margin-left: 16px;
}
#delete-attachment-btn {
    margin-left: 68px;
}
.delete-icon {
    position: absolute;
    right: -20px;
    top: -17px;
    color: #2a2a2a;
    background: none;
    border: none;
    cursor: pointer;
}
.delete-icon:hover {
    transition: all 0.4s;
    transform: scale(1.1);
    border: 1px solid black;
    border-radius: 999px;
}
.delete-icon:active {
    transition: all 0.4s;
    transform: scale(0.97);
    border: 1px solid #ccc;
}
.delete-icon:focus {
    outline: none;
}
.delete-icon i {
    opacity: 1;
}
img:not(.transparent) {
    transition: opacity 0.8s;
    opacity: 1;
}
img.transparent {
    transition: opacity 0.8s;
    opacity: 0.5;
}
#attachments-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.attachment-card {
    height: 300px;
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #a2a2;
    border-radius: 5px;
    padding: 10px;
    background: #f5f5f5;
    color: #2a2a2a;
    font-size: 16px;
    font-family: 'Fira Sans';
    font-weight: 700;
}
.attachment-card:first {
    margin-left: 0;
}
.attachment-card:nth-child(3n+1) {
    margin-left: 0;
}
.attachment-card:nth-child(3) {
    margin-right: 0;
    margin-left: 20px;
}
.attachment-card:nth-child(3n+3) {
    margin-right: 0;
}
.attachment-preview {
    display: block;
    min-width: 280px;
    max-width: 280px;
    max-height: 210px;
    object-fit: cover;
}
.img-container {
    margin-bottom: auto;
    position: relative;
}
.text-container {
    text-align: center;
    background-color: #e0d6cc47;
}
.acc-label {
    font-weight: 400;
}
.acc-label span {
    color: #ff9800;
    margin-left: 8px;
}