/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/css?family=Lato|Fira+Sans|Cuprum:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.form-wrapper {
    margin: 25px auto;
    position: relative;
    top: 50px;
    border: 5px solid #ffdcd2;
    padding: 30px 60px;
    border-radius: 20px;
}
.form-wrapper h3 {
    text-align: center;
    font-family: 'Fira Sans';
    font-size: 3em;  
    margin: 15px 0px 30px 0;
    color: #2196f3;
}
.auth-form {
    display: flex;
    flex-direction: column;
}
.mat-input-underline {
    background-color: #ffdcd2;
}
.auth-form button {
    width: 40%;
    margin: 25px auto;
}
.auth-form button:hover {
    background-color: #900c40;
}
.form-wrapper {
    max-width: 400px;
}
.auth-form label {
    color: #ff4282;
}
.auth-form input {
    color: #464646;
    text-align: center;
}
.center {
    text-align: center;
}
.createModalDialog mat-dialog-container {
    background-color: white;
    border-left: 20px solid #ff4716c9;
    border-right: 20px solid #ff4716c9;
    border-top: 20px solid #ccc;
    border-bottom: 20px solid #ccc;
    overflow: hidden;
    position: relative;
}
.modal-header {
    color: #d84617;
    margin: 10px auto;
    font: bold 29px 'Fira Sans';
    text-align: center;
}
.modal-dismiss-btn {
    position: absolute;
    top: -10px;
    right: 4px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.modal-dismiss-btn:hover {
    transition: top 0.3s ease-out;
    top: -8px;    
    box-shadow: 2px 2px 0 #ccc;
}
.modal-dismiss-btn i:hover {
    transition: font-size 0.2s ease-out;
    font-size: 25px;
}
.modal-dismiss-btn:active {
    transition: background-color 0.2s;
    background-color: #f5f5f5;
}
.modal-dismiss-btn:focus {
    outline: none;
}