/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/*@import url('https://fonts.googleapis.com/css?family=Lato|Fira+Sans|Cuprum:400,700');*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
    font-family: Cuprum;
    src: url('assets/fonts/Cuprum/Cuprum-Regular.ttf');
}
@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/FiraSans-Regular.ttf');
}
html {
    overflow-y: scroll;
}
.form-wrapper {
    margin: 25px auto;
    position: relative;
    top: 50px;
    border: 5px solid #ffdcd2;
    padding: 30px 60px;
    border-radius: 20px;
}
.form-wrapper h3 {
    text-align: center;
    font-family: 'Fira Sans';
    font-size: 3em;  
    margin: 15px 0px 30px 0;
    color: #2196f3;
}
.auth-form {
    display: flex;
    flex-direction: column;
}
.mat-input-underline {
    background-color: #ffdcd2;
}
.auth-form button {
    width: 40%;
    margin: 25px auto;
}
.auth-form button:hover {
    background-color: #900c40;
}
.form-wrapper {
    max-width: 400px;
}
.auth-form label {
    color: #ff4282;
}
.auth-form input {
    color: #464646;
    text-align: center;
}
.app-link {
    font-family: Helvetica;
    text-decoration: none;
    color: #1a93dc;
}
.app-link:hover {
    text-decoration: underline;
    transition: all 2s;
    color: #2a2a2a;
}
.center {
    text-align: center;
}
.createModalDialog mat-dialog-container {
    background-color: #ffffff;
    border-left: 20px solid #ff4716c9;
    border-right: 20px solid #ff4716c9;
    border-top: 20px solid #ccc;
    border-bottom: 20px solid #ccc;
    overflow: hidden;
    position: relative;
}
.modal-header {
    color: #f96536;
    margin: 10px auto;
    font: bold 29px 'Fira Sans';
    text-align: center;
    margin-bottom: 25px;
}
.mat-form-field-label {
    color: #2196F3;
}
.modal-dismiss-btn {
    position: absolute;
    top: -10px;
    right: 4px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.modal-dismiss-btn mat-icon {
    color: #2a2a2a;
}
.modal-dismiss-btn:hover {
    transition: top 0.3s ease-out;
    top: -8px;    
    box-shadow: 2px 2px 0 #ccc;
}
.modal-dismiss-btn i:hover {
    transition: font-size 0.2s ease-out;
    font-size: 25px;
}
.modal-dismiss-btn:active {
    transition: background-color 0.2s;
    background-color: #f5f5f5;
}
.modal-dismiss-btn:focus {
    outline: none;
}

.cdk-overlay-pane:not(.createModalDialog):not(#cdk-overlay-1):not(.image-vw-modal):not(.mbChooseModeDialog) {
    position: absolute !important;
    bottom: 30px !important;
}
.mat-snack-bar-container {
    margin: auto !important;
    width: 350px;
    border-radius: 4px !important;
    background: #e91e63b3;
    color: #2a2a2a;
}

.mat-datepicker-content {
    width: 300px;
    background-color: #f3763a;
}
.mat-calendar-content th{
    color: rgba(255, 255, 255, 0.8) !important;
}
.mat-datepicker-toggle button {
    font-size: 22px !important;
    color: #909090;
}
.mat-datepicker-toggle button:hover {
    background: #cccccc61;
}
.mat-datepicker-toggle button:active {
    background: #cccccc25;
}
#cdk-overlay-1 {
    min-width: 200px !important;
    width: 250px;
    bottom: -40px;
    margin-left: 17px;
}
.mat-select-value {
    color: #2a2a2a;
}
.mat-select-arrow {
    color: #909090 !important;
}
.mat-placeholder-required {
    color: red;
}

button[disabled] {
    transition: background-color 1s;
    background-color: #9e9e9e !important;
}
button[disabled] span {
    color: white;
}
.input-hint {
    margin: 20px 0px 0px 20px;
    color: #2196F3;
    font-size: 14px;
    font-family: Arial;
}
.help-modal {
    top: 100px;
    color: black;
    font-family: 'Fira Sans';
}
.help-modal mat-dialog-container {
    border: 10px solid #ccc;
    background: white;
}
/* Documentation */
.numeration {
    margin-right: 10px;
}
.section-heading{
    font-family: Cuprum;
}
.body-text {
    margin: 15px auto 15px auto;
    display: flex;
    flex-direction: column;
}
.body-text .row {
    display: flex;
    flex-direction: row;
}
.body-text p {    
    text-indent: 7mm;
    font-size: 17px;
    line-height: 1.5em;
    font-family: 'Fira Sans';
    word-spacing: 0.2em;
}
.icon-example {
    text-indent: 0;
    top: 4px;
    position: relative;
}
.help-aside {
    font-size: 0.9em;
    font-style: italic;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin: 10px 0px;
    padding: 10px;
    color: #a0a0a0;
}
strong.title {
    color: #FF4716;
}

/* Image Viewer */
.image-vw-modal mat-dialog-container {
    background: #d7d7d7;
}

.container {
    margin: 0 auto;
    width: 1000px;
    background-color: white;
}
/* mb select viewing mode modal*/
.mbChooseModeDialog mat-dialog-container {
    font-family: "Fira Sans", Helvetica, sans-serif;
    box-sizing: border-box;
    background: #f2f2f2 !important;
    color: #3F51B5 !important;
    border: 6px double #dfbebe;
}