/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/css?family=Lato|Fira+Sans|Cuprum:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.form-wrapper {
    margin: 25px auto;
    position: relative;
    top: 50px;
    border: 5px solid #ffdcd2;
    padding: 30px 60px;
    border-radius: 20px;
}
.form-wrapper h3 {
    text-align: center;
    font-family: 'Fira Sans';
    font-size: 3em;  
    margin: 15px 0px 30px 0;
    color: #2196f3;
}
.auth-form {
    display: flex;
    flex-direction: column;
}
.mat-input-underline {
    background-color: #ffdcd2;
}
.auth-form button {
    width: 40%;
    margin: 25px auto;
}
.auth-form button:hover {
    background-color: #900c40;
}
.form-wrapper {
    max-width: 400px;
}
.auth-form label {
    color: #ff4282;
}
.auth-form input {
    color: #464646;
    text-align: center;
}
.center {
    text-align: center;
}
.createModalDialog mat-dialog-container {
    background-color: white;
    border-left: 20px solid #ff4716c9;
    border-right: 20px solid #ff4716c9;
    border-top: 20px solid #ccc;
    border-bottom: 20px solid #ccc;
    overflow: hidden;
}