<div [responsive-window]="'parent'">
  <div class="container" *responsive="{ sizes:{ window: 'parent', min: 1000, max: 1920 } }"> <!-- desktop -->
    <div id="toolbar">
      <div id="sidebar">
          <user-profile></user-profile>
          <div id="controls">
            <button matTooltip="Добавить кошелёк" [ngClass]="{'muted': deleteMode === true}" class="glyphicon" (click)="createAccount()" aria-label="add_account"><mat-icon aria-hidden="true"><i class="material-icons">add</i></mat-icon></button>
            <button matTooltip="Удалить кошелёк" [ngClass]="{'active': deleteMode === true}" class="glyphicon" (click)="intoDelete()" aria-label="remove_account"><mat-icon aria-hidden="true"><i class="material-icons">delete</i></mat-icon></button>
          </div>
      </div>
      <div id="navbar" [ngClass]="{ 'collapsed-total': viewMode !== 1 }" #nav>
        <div id="top-row-container">
            <p id="greeter">Привет, <span id="username">{{userName}}!</span></p>
            <button matTooltip="Помощь" (click)="showHelp()" matIcon id="help-btn"><mat-icon><i class="material-icons">help_outline</i></mat-icon></button>
        </div>
          <div *ngIf="deleteMode !== true" class="accounts-panel" #panel1>
            <button @normalMode [ngClass]="{'active-immune': selectedTab == 'all', 'immune': selectedTab != 'all'}" class="account-btn" (click)="selectTab('all')">Основной</button>
            <button @normalMode [ngClass]="{'active-tab': selectedTab == account.id}" class="account-btn" (click)="selectTab(account.id)" *ngFor="let account of accounts; index as i">{{account.name}}</button>
          </div>
          <div *ngIf="deleteMode === true" class="accounts-panel" #panel2>
            <button @deleteMode class="account-btn delete-me" (click)="deleteTab(account.id); intoDelete()" *ngFor="let account of accounts; index as i">{{account.name}}<mat-icon aria-hidden="true"><i class="material-icons">clear</i></mat-icon></button>
          </div>
          <div id="account-switches-container" *ngIf="accOverflown === true">
            <span class="counter">Всего {{accounts.length}} кошельков</span>
            <button (click)="selectBtn('previous')"><mat-icon><i class="material-icons">chevron_left</i></mat-icon></button>
            <button (click)="selectBtn('next')"><mat-icon><i class="material-icons">chevron_right</i></mat-icon></button>
          </div>
      </div>
      <div [ngClass]="{ 'collapsed-total': viewMode !== 1 }" id="total">
        <p>{{total}}</p>
      </div>
    </div>
    <div *ngIf="viewMode === 1">
      <app-budget [userName]="userName" [selectedTab]="selectedTab"></app-budget>
    </div>
    <div *ngIf="viewMode === 2">
      <app-attachments [userName]="userName" [selectedTab]="selectedTab"></app-attachments>
    </div>
  </div> <!-- desktop -->
  <!-- mobile -->
  <div *responsive="{ sizes:{ window: 'parent', min: 350, max: 999 } }" class="mobile-container">
    <div class="mb-flex-header">
      <div class="mb-hamburger-container">
        <button matTooltip="Меню" (click)="mbChooseMode()" class="glyphicon" aria-label="Menu"><mat-icon aria-hidden="true"><i class="material-icons">menu</i></mat-icon></button>
      </div>
      <div class="greeter">
          <h2>Привет, <span id="username">{{userName}}!</span></h2>
        </div>
        <div class="mb-help-container">
            <button matTooltip="Справка" (click)="showHelp()" class="glyphicon" aria-label="Help"><mat-icon aria-hidden="true"><i class="material-icons">help_outline</i></mat-icon></button>
        </div>
    </div>
    <div class="mb-account-panel"> <!-- Панель управления кошельками -->
      <div class="mb-account-toolbar">
          <button matTooltip="Добавить кошелёк" (click)="createAccount()" class="glyphicon" aria-label="Add account"><mat-icon aria-hidden="true"><i class="material-icons">add</i></mat-icon></button>
          <button matTooltip="Удалить кошелёк" (click)="mbOpenDeleteAccountList()" class="glyphicon" aria-label="Remove account"><mat-icon aria-hidden="true"><i class="material-icons">delete</i></mat-icon></button>
      </div>
      <div class="mb-account-pills">
        <button id="main-pill" (click)="selectTab('all')" [ngClass]="{'active': selectedTab == 'all'}">Основной</button>
        <button *ngIf="selectedTab != 'all'" [ngClass]="{'active': selectedTab != 'all'}">{{activeTabName || "Выбранный"}}</button>
        <button id="another-pill" (click)="mbOpenAccountList()">Другой</button>
      </div>
      <div class="total">
        <p>{{total}}</p>
      </div>
    </div>
    <div class="mb-dropdown account-dropdown"*ngIf="mbAaccountListOpened"> <!-- Менюха выбора кошелька -->
      <button @normalMode [ngClass]="{'active-tab': selectedTab == account.id}" class="account-btn" (click)="selectTab(account.id);mbCloseAccountList()" *ngFor="let account of accounts; index as i">{{account.name}}</button>
    </div>
    <div class="mb-dropdown account-dropdown"*ngIf="mbAaccountDeleteListOpened"> <!-- Менюха удаления кошелька -->
      <button @normalMode [ngClass]="{'active-tab': selectedTab == account.id}" class="account-btn delete-list-item" (click)="deleteTab(account.id);mbCloseDeleteAccountList()" *ngFor="let account of accounts; index as i">{{account.name}}</button>
    </div>
    <div *ngIf="viewMode === 1">
      <app-budget [userName]="userName" [selectedTab]="selectedTab"></app-budget>
    </div>
    <div *ngIf="viewMode === 2">
      <app-attachments [userName]="userName" [selectedTab]="selectedTab"></app-attachments>
    </div>
  </div> <!-- mobile -->
</div>