.container {
    margin: 0 auto;
    height: 100vh;
    width: 1000px;    
    /*background-image: linear-gradient(180deg, white, #FFE5F6);*/
    font-family: Lato;
    overflow-y: hidden;
}
#toolbar {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
#controls {
    text-align: right;
    width: 120px;
    margin-top: 63px;
    border-bottom: 1px solid #cccccc90;
    border-right: 1px solid #cccccc90;
    vertical-align: bottom;
    height: 40px;
}
#navbar {
    width: calc(100% - 210px - 120px);
    border-bottom: 1px solid #ccc;
    position: relative;
}
#sidebar {
    display: flex;
    flex-direction: column;
}
user-profile {
    position: relative;
    top: 10px;
}
#greeter {
    font-size: 20px;
    font-weight: 700;
    font-family: Lato;
    padding-left: 4.8%;
    color: #FF4716;
    z-index: 1;
}
#username {
    margin-left: 7px;
}
.accounts-panel {
    padding: 2px 18px;
    text-align: left;
}
.account-btn {
    transition: background-color 0.4s;
    font-family: 'Fira Sans';
    padding: 3px 13px;
    font-size: 17px;
    border-radius: 18px;
    border: 1px solid #ffcdb5;
    margin-right: 5px;
    background-color: white;
    color: #808080;
    cursor: pointer;
    box-sizing: border-box;
}
.account-btn:not(.active-tab):not(.delete-me):not(.active-immune):hover {
    border: 1px solid transparent;
    background-color: #f79235;
    color: white;
}
.account-btn.immune {
    transition-property: color, border;
    transition-duration: 0.5s;
    color: #808080;
    border: transparent;
}
.account-btn.active-immune {
    transition-property: color, border;
    transition-duration: 0.5s;
    color: white;
    background-color: #2196F3;
    border: 1px solid #2196F3;
}
.active-immune {
    border: 1px solid black;
}
.active-tab { 
    transition: background-color 0.4s;
    border: 1px solid transparent;
    background-color: #263c79;
    color: white;
    font-weight: bold;
}
button.delete-me {
    border-color: transparent;
    position: relative;
    background: #ff2121;
    padding: 3px 20px 3px 15px;
    color: white;
}
button.delete-me mat-icon {   
    position: absolute; 
    top: -8px;
    right: 0px;
}
button.delete-me i {
    font-size: 13px;
    color: #313131;
    opacity: 0.8;
    font-weight: bold;
}
button.delete-me:hover {
    background-color: transparent !important;
    color: black !important;
}
button.delete-me:active {
    transition: opacity 0.5s;
    opacity: 0.2;
}
button.active .material-icons {
    color: #ff2121;
    opacity: 1 !important;
}
button.muted i {
    transition: opacity 0.4s;
    opacity: 0.1 !important;
}
#total {
    width: 210px;
    margin: 0;
    text-align: center;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 32px;
    font-weight: 700;
}
#navbar.collapsed-total {
    transition: width 1s;
    width: calc(1000px - 121px);
}
#total.collapsed-total {
    transition: transform 1s 0.3s;
    transform: scaleX(0);
    display: none;
}
#total.collapsed-total p {
    opacity: 0;
    transition: opacity 0.3s;
}
.glyphicon {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-right: 20px;
    padding-top: 3px;
}
.glyphicon .material-icons {
    font-size: 29px;
    opacity: 0.5;
}
.glyphicon .material-icons:hover {
    transition: transform 0.3s ease-in-out;
    transform: rotate(45deg);
    opacity: 1;
}
.glyphicon:focus, .account-btn:focus {
    outline: none;
}
/* Markers */
.red-marker {
    background-color: rgba(237, 28, 36, 0.8) !important;
}
.blue-marker {
    background-color: rgba(0, 102, 179, 0.8) !important;
}
.yellow-marker {
    background-color: rgba(255, 242, 0, .8) !important;
}
.purple-marker {
    background-color: rgba(92, 45, 145, .8) !important;
}
.green-marker {
    background-color: rgba(0, 166, 93, .8) !important;
}
.orange-marker {
    background-color: rgba(245, 130, 32, .8) !important;
}
.item-marker {
        min-height: 30px;
        width: 30px;
        border-radius: 5px;
}

.accounts-panel {
    max-height: 34px;
    white-space: nowrap;
    overflow: hidden;
}
/* Slider */
#account-switches-container {
    position: absolute;
    right: 10%;
    top: 17px;
    display: block;
    opacity: 0.7;
    z-index: 100;
}
.counter {
    font-family: 'Fira Sans';
    font-weight: bold;
    top: -9px;
    margin-right: 15px;
    position: relative;
}
#account-switches-container button {
    background: transparent;
    border-radius: 999px;
    border: 1px solid transparent;
    cursor: pointer;
}
#account-switches-container i {
    font-size: 32px;
    position: relative;
    color: #2a2a2a9a;
    top: 2px;
    right: 4px;
}
#account-switches-container button:hover {
    transition: background-color 0.2s;
    border: 1px solid transparent;
    background-color: #ccc;
}
#account-switches-container i:hover {
    color: black;
}
#account-switches-container button:active {
    outline: none;
    background: #f79235;
    border: 1px solid transparent;
}
#account-switches-container i:active {
    color: white;
}
#account-switches-container button:focus {
    outline: none;
}
::ng-deep .mat-tooltip {
    background: #f3851ef1;
    font-size: 11px;
}