<div class="container">
  <div id="toolbar">
    <div id="sidebar">
        <user-profile></user-profile>
        <div id="controls">
          <button matTooltip="Добавить кошелёк" [ngClass]="{'muted': deleteMode === true}" class="glyphicon" (click)="createAccount()" aria-label="add_account"><mat-icon aria-hidden="true"><i class="material-icons">add</i></mat-icon></button>
          <button matTooltip="Удалить кошелёк" [ngClass]="{'active': deleteMode === true}" class="glyphicon" (click)="intoDelete()" aria-label="remove_account"><mat-icon aria-hidden="true"><i class="material-icons">delete</i></mat-icon></button>
        </div>
    </div>
    <div id="navbar" [ngClass]="{ 'collapsed-total': viewMode !== 1 }" #nav>
      <p id="greeter">Welcome, <span id="username">{{userName}}!</span></p>
        <div *ngIf="deleteMode !== true" class="accounts-panel" #panel1>
          <button @normalMode [ngClass]="{'active-immune': selectedTab == 'all', 'immune': selectedTab != 'all'}" class="account-btn" (click)="selectTab('all')">Основной</button>
          <button @normalMode [ngClass]="{'active-tab': selectedTab == account.id}" class="account-btn" (click)="selectTab(account.id)" *ngFor="let account of accounts; index as i">{{account.name}}</button>
        </div>
        <div *ngIf="deleteMode === true" class="accounts-panel" #panel2>
          <button @deleteMode class="account-btn delete-me" (click)="deleteTab(account.id); intoDelete()" *ngFor="let account of accounts; index as i">{{account.name}}<mat-icon aria-hidden="true"><i class="material-icons">clear</i></mat-icon></button>
        </div>
        <div id="account-switches-container" *ngIf="accOverflown === true">
          <span class="counter">Всего {{accounts.length}} кошельков</span>
          <button (click)="selectBtn('previous')"><mat-icon><i class="material-icons">chevron_left</i></mat-icon></button>
          <button (click)="selectBtn('next')"><mat-icon><i class="material-icons">chevron_right</i></mat-icon></button>
        </div>
    </div>
    <div [ngClass]="{ 'collapsed-total': viewMode !== 1 }" id="total">
      <p>{{total}}</p>
    </div>
  </div>
  <div *ngIf="viewMode === 1">
    <app-budget [userName]="userName" [selectedTab]="selectedTab"></app-budget>
  </div>
  <div *ngIf="viewMode === 2">
    <app-attachments [userName]="userName" [selectedTab]="selectedTab"></app-attachments>
  </div>
</div>