
.glyphicon {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-right: 20px;
    padding-top: 3px;
    position: relative;
    right: -5px;
}
.glyphicon .material-icons {
    font-size: 35px;
    color: #3F51B5;
}
.glyphicon:nth-of-type(2) {
    right: -15px;
}
.glyphicon:nth-of-type(2) mat-icon {
    transform: rotate(90deg);
}
.glyphicon .material-icons:hover {
    transition: color 0.3s ease-in-out;
    color: #2a2a2a;
}
.glyphicon:focus, .account-btn:focus {
    outline: none;
}
.user-profile-btn-container {
    box-sizing: border-box;    
    border-right: 1px solid #cccccc90;
    position: absolute;
    display: flex;
    flex: auto;
    width: 100%;
    justify-content: center;
}